#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
%{
   if(type.name=='Users') {
   		type.modelName = "ユーザー";
   		type.name = "ユーザー";
	}
}%


<div id="crudShow" class="${type.name}">
 <div class="page-header">
    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
 </div>


    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data', class:'well'}
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" class="btn btn-success" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="btn btn-success"/>
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" class="btn btn-danger"/>
        </p>
    #{/form}

</div>